HisProxy/HisProxy/Service References/VisitRegister/VisitRegister8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HisService.VisitRegister.Input" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HisService.VisitRegister.Input" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cn-20190104ylbs/SIHIS/VisitRegister/VisitRegister.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HisService.Entity" />
  <xs:complexType name="AddRegInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsWindowReg" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mac" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HisService.Entity" minOccurs="0" name="VisitRegRecord" nillable="true" type="q1:VisitRegRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddRegInput" nillable="true" type="tns:AddRegInput" />
</xs:schema>