HisProxy/HisProxy/Service References/Pay/Pay74.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cn-20190104ylbs/SIHIS/Pay/Pay.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HisService.Entity" />
  <xs:import schemaLocation="http://cn-20190104ylbs/SIHIS/Pay/Pay.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HisService.Pay" />
  <xs:import schemaLocation="http://cn-20190104ylbs/SIHIS/Pay/Pay.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HisService.Pay.Input" />
  <xs:element name="GetCurrentPayRecordNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentPayRecordNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCurrentPayRecordNoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOpdEmgPrescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrescId" nillable="true" type="xs:anyType" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HisService.Entity" minOccurs="0" name="Input" nillable="true" type="q1:OpdEmgPrescription" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HisService.Entity" minOccurs="0" name="dtInput" nillable="true" type="q2:OpdEmgPrescriptionDt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOpdEmgPrescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddOpdEmgPrescriptionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpdEmgPrescriptionByVisitNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VisitNo" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpdEmgPrescriptionByVisitNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HisService.Pay" minOccurs="0" name="GetOpdEmgPrescriptionByVisitNoResult" nillable="true" type="q3:ArrayOfOpdEmgPrescriptionOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMedCodePackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HisService.Entity" minOccurs="0" name="dto" nillable="true" type="q4:MedCodeSetDto" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HisService.Pay" minOccurs="0" name="PackageDetailList" nillable="true" type="q5:ArrayOfPackageDetailDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMedCodePackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMedCodePackageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMedCodeSetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMedCodeSetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HisService.Entity" minOccurs="0" name="GetMedCodeSetAllResult" nillable="true" type="q6:ArrayOfMedCodeSetDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HisService.Pay" minOccurs="0" name="GetPackageAllResult" nillable="true" type="q7:ArrayOfPackageDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPackageDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HisService.Pay" minOccurs="0" name="dto" nillable="true" type="q8:PackageDetailDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPackageDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPackageDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageDetailByPackageCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PackageCode" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageDetailByPackageCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/HisService.Pay" minOccurs="0" name="GetPackageDetailByPackageCodeResult" nillable="true" type="q9:ArrayOfPackageDetailDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCharge">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HisService.Pay.Input" minOccurs="0" name="input" nillable="true" type="q10:AddChargeInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddChargeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddChargeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefundCharge">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HisService.Pay.Input" minOccurs="0" name="input" nillable="true" type="q11:RefundChargeInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefundChargeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RefundChargeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComfirmChargeRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmUser" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComfirmChargeRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ComfirmChargeRecordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChargeRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="visitNo" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChargeRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HisService.Pay" minOccurs="0" name="GetChargeRecordResult" nillable="true" type="q12:ArrayOfChargeRecordOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChargeRecordByInvoiceNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InvoiceNo" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChargeRecordByInvoiceNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HisService.Pay" minOccurs="0" name="GetChargeRecordByInvoiceNoResult" nillable="true" type="q13:ArrayOfChargeRecordOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientPrescriptionByVisitNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VisitNo" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientPrescriptionByVisitNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/HisService.Pay" minOccurs="0" name="GetPatientPrescriptionByVisitNoResult" nillable="true" type="q14:ArrayOfPatPrescriptionOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvoiceRefund">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InvoiceNo" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvoiceRefundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InvoiceRefundResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIfxPayNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Zone" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="EmpCode" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIfxPayNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIfxPayNoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayMtByVisitNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VisitNo" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="IncCancel" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayMtByVisitNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPayMtByVisitNoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayMtByPayNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PayNo" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayMtByPayNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPayMtByPayNoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayRecordByVisitNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VisitNo" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayRecordByVisitNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPayRecordByVisitNoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppendMedCharge2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChargeInfo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppendMedCharge2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/HisService.Pay" minOccurs="0" name="AppendMedCharge2Result" nillable="true" type="q15:AppendChargeResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMedChargeByVisitNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VisitNo" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMedChargeByVisitNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMedChargeByVisitNoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpNo" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEmpCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisitRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VisitNo" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisitRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVisitRecordResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeeTypeSet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeeTypeSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFeeTypeSetResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpNo" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEmpNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpNo" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEmpInfoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMedCodeSetByItemCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Zone" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="ItemCode" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="ChargeTime" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMedCodeSetByItemCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMedCodeSetByItemCodeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpCode" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="PassWord" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDebtRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VisitNo" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDebtRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDebtRecordResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMedItemInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VisitNo" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMedItemInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMedItemInfoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelPayMt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VisitNo" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="PayNo" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="PayRecord" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="OldUpdateTime" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="EmpNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelPayMtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelPayMtResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPayRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PayRecordNo" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="PayType" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="CreditNo" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="AuthorNo" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="EmpNo" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPayRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyPayRecordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PayNo" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPayDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayMtByChartNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChartNo" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="VisitDate" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayMtByChartNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPayMtByChartNoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayMtByChartNo2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChartNo" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="VisitDate1" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="VisitDate2" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayMtByChartNo2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPayMtByChartNo2Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayRecordByPayNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PayNo" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="IncCancel" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayRecordByPayNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPayRecordByPayNoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheeMar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Zone" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="IdNo" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheeMarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCheeMarResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VisitNo" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOutPatientResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayDtByPayNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PayNo" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayDtByPayNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPayDtByPayNoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>