HisProxy/HisProxy/Service References/Pay/Pay71.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HisService.Pay.Input" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HisService.Pay.Input" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cn-20190104ylbs/SIHIS/Pay/Pay.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HisService.Entity" />
  <xs:import schemaLocation="http://cn-20190104ylbs/SIHIS/Pay/Pay.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HisService.Pay" />
  <xs:complexType name="AddChargeInput">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HisService.Entity" minOccurs="0" name="ChargeList" nillable="true" type="q1:ArrayOfChargeRecord" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HisService.Entity" minOccurs="0" name="InvoiceRecord" nillable="true" type="q2:InvoiceRecord" />
      <xs:element minOccurs="0" name="IsWindowCharge" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mac" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HisService.Entity" minOccurs="0" name="PayRecord" nillable="true" type="q3:PayRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddChargeInput" nillable="true" type="tns:AddChargeInput" />
  <xs:complexType name="RefundChargeInput">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HisService.Pay" minOccurs="0" name="ChargeList" nillable="true" type="q4:ArrayOfChargeRecordOutput" />
      <xs:element minOccurs="0" name="Mac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OldInvoiceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RefundTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RefundUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RefundChargeInput" nillable="true" type="tns:RefundChargeInput" />
</xs:schema>