HisProxy/HisProxy/Service References/Medicare/Medicare1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Medicare" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/SIHIS/MedicalCare/Medicare.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/SIHIS/MedicalCare/Medicare.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/SIHIS/MedicalCare/Medicare.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost/SIHIS/MedicalCare/Medicare.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HisService.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMedicare_QueryDataTable_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryDataTable" />
  </wsdl:message>
  <wsdl:message name="IMedicare_QueryDataTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryDataTableResponse" />
  </wsdl:message>
  <wsdl:message name="IMedicare_QuerySingle_InputMessage">
    <wsdl:part name="parameters" element="tns:QuerySingle" />
  </wsdl:message>
  <wsdl:message name="IMedicare_QuerySingle_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuerySingleResponse" />
  </wsdl:message>
  <wsdl:message name="IMedicare_GetMedicareInterfaceSetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMedicareInterfaceSetAll" />
  </wsdl:message>
  <wsdl:message name="IMedicare_GetMedicareInterfaceSetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMedicareInterfaceSetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IMedicare_GetCardTypeChargeContrastAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCardTypeChargeContrastAll" />
  </wsdl:message>
  <wsdl:message name="IMedicare_GetCardTypeChargeContrastAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCardTypeChargeContrastAllResponse" />
  </wsdl:message>
  <wsdl:message name="IMedicare_GetMedicareDealTypeSetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMedicareDealTypeSetAll" />
  </wsdl:message>
  <wsdl:message name="IMedicare_GetMedicareDealTypeSetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMedicareDealTypeSetAllResponse" />
  </wsdl:message>
  <wsdl:portType name="IMedicare">
    <wsdl:operation name="QueryDataTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicare/QueryDataTable" message="tns:IMedicare_QueryDataTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicare/QueryDataTableResponse" message="tns:IMedicare_QueryDataTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuerySingle">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicare/QuerySingle" message="tns:IMedicare_QuerySingle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicare/QuerySingleResponse" message="tns:IMedicare_QuerySingle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMedicareInterfaceSetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicare/GetMedicareInterfaceSetAll" message="tns:IMedicare_GetMedicareInterfaceSetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicare/GetMedicareInterfaceSetAllResponse" message="tns:IMedicare_GetMedicareInterfaceSetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCardTypeChargeContrastAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicare/GetCardTypeChargeContrastAll" message="tns:IMedicare_GetCardTypeChargeContrastAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicare/GetCardTypeChargeContrastAllResponse" message="tns:IMedicare_GetCardTypeChargeContrastAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMedicareDealTypeSetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicare/GetMedicareDealTypeSetAll" message="tns:IMedicare_GetMedicareDealTypeSetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicare/GetMedicareDealTypeSetAllResponse" message="tns:IMedicare_GetMedicareDealTypeSetAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Medicare" type="tns:IMedicare">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryDataTable">
      <soap:operation soapAction="http://tempuri.org/IMedicare/QueryDataTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuerySingle">
      <soap:operation soapAction="http://tempuri.org/IMedicare/QuerySingle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMedicareInterfaceSetAll">
      <soap:operation soapAction="http://tempuri.org/IMedicare/GetMedicareInterfaceSetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCardTypeChargeContrastAll">
      <soap:operation soapAction="http://tempuri.org/IMedicare/GetCardTypeChargeContrastAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMedicareDealTypeSetAll">
      <soap:operation soapAction="http://tempuri.org/IMedicare/GetMedicareDealTypeSetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Medicare">
    <wsdl:port name="Medicare" binding="tns:Medicare">
      <soap:address location="http://localhost/SIHIS/MedicalCare/Medicare.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>