HisProxy/HisProxy/Service References/Medicare/Medicare.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HisService.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HisService.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMedicareInterfaceSet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MedicareInterfaceSet" nillable="true" type="tns:MedicareInterfaceSet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedicareInterfaceSet" nillable="true" type="tns:ArrayOfMedicareInterfaceSet" />
  <xs:complexType name="MedicareInterfaceSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KeyWord2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MedicareInterfaceID" type="xs:int" />
      <xs:element minOccurs="0" name="MedicareInterfaceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Memo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedicareInterfaceSet" nillable="true" type="tns:MedicareInterfaceSet" />
  <xs:complexType name="ArrayOfCardTypeChargeContrast">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CardTypeChargeContrast" nillable="true" type="tns:CardTypeChargeContrast" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCardTypeChargeContrast" nillable="true" type="tns:ArrayOfCardTypeChargeContrast" />
  <xs:complexType name="CardTypeChargeContrast">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardType" type="xs:int" />
      <xs:element minOccurs="0" name="MedicareInterfaceID" type="xs:int" />
      <xs:element minOccurs="0" name="SysSign" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardTypeChargeContrast" nillable="true" type="tns:CardTypeChargeContrast" />
  <xs:complexType name="ArrayOfMedicareDealTypeSet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MedicareDealTypeSet" nillable="true" type="tns:MedicareDealTypeSet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedicareDealTypeSet" nillable="true" type="tns:ArrayOfMedicareDealTypeSet" />
  <xs:complexType name="MedicareDealTypeSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsUse" type="xs:boolean" />
      <xs:element minOccurs="0" name="MedicareDealType" type="xs:int" />
      <xs:element minOccurs="0" name="MedicareInterfaceID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedicareDealTypeSet" nillable="true" type="tns:MedicareDealTypeSet" />
</xs:schema>